:root {
    /* colors */
    --bg-main-color: #023449;
    --txt-main-color: #c7b75b;
}

body {
    background-color: #002f44;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
    border-radius: 2;
}
img {
    display: block;
}
.hidden {
    display: none;
}



.search-form,
.result-footer {
    width:100%;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: .5rem;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--bg-main-color);
}

.search-input {
    font-size: 24;
    padding: 10px;
    background-color: rgba(219, 219, 219, 0.1);
    border: none;

    color:var(--txt-main-color);
    margin: 0;

    width: 50%;
    min-width: 300px;
    outline: none;

    /* background-image: url('../images/search-icon-png-22.png');
    background-position: 5px 10px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding-left: 40px; */

    transition: .2s ease-in-out;
}
.search-input:hover {
    background-color: #0c0c0c2f;
}

.search-input:focus {
    background-color: #0c0c0c5e;
    border: none; 
}


.btn {
    font-size: 24;
    border: 1px #7e6b00;
    background-color: rgba(209, 136, 0, 0.1);
    color: #c7b75b;
    padding: 10px 20px;

    transition: .2s ease-in-out;
}
.btn:hover,
.btn:focus {
    background-color: rgba(209, 136, 0, 0.4);
}
.btn.more-button {
    width: 100%;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}
.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    height: 300px;
    width: 350px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
    font-size: small;
    color:#99927f;

}
.photo-card:hover {
    box-shadow: 0px 6px 8px -2px rgba(3, 0, 0, 0.5);
    background-color: #85c7e51a;
    color:#c9c2af;
    cursor: pointer;
}
.photo-card img {
    object-fit: cover;
    height: 80%;
}
.info {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

.result-footer {
    color: var(--txt-main-color);
    font-size: 30;

    background-color: ;
}